<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <form [formGroup]="editThemeForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-6 rounded-xl px-12 py-6 bg-white shadow-lg">
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': editThemeForm.get('title')?.invalid && editThemeForm.get('title')?.touched}">
      <label for="title">Título</label>
      <input 
        type="text" 
        id="title" 
        formControlName="title" 
        placeholder="Novas tecnologias" 
        class="h-8 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" 
        />
      <div *ngIf="editThemeForm.get('title')?.invalid && editThemeForm.get('title')?.touched" class="text-red-600 text-sm">
        <div *ngIf="editThemeForm.get('title')?.errors?.['required']">Título é obrigatório.</div>
      </div>
    </div>
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': editThemeForm.get('subject')?.invalid && editThemeForm.get('subject')?.touched}">
      <label for="subject">Assunto</label>
      <input 
        type="text" 
        id="subject" 
        formControlName="subject" 
        placeholder="Conhecimentos sobre IA" 
        class="h-8 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" 
        />
      <div *ngIf="editThemeForm.get('subject')?.invalid && editThemeForm.get('subject')?.touched" class="text-red-600 text-sm">
        <div *ngIf="editThemeForm.get('subject')?.errors?.['required']">Assunto é obrigatório.</div>
      </div>
    </div>
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': editThemeForm.get('summary')?.invalid && editThemeForm.get('summary')?.touched}">
      <label for="summary">Descrição</label>
      <textarea 
      id="summary"
      formControlName="summary"
      rows="4" 
      class="w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" 
      placeholder="Uma conversa sobre os pontos positivos e negativos da IA" ></textarea>
      <div *ngIf="editThemeForm.get('summary')?.invalid && editThemeForm.get('summary')?.touched" class="text-red-600 text-sm">
        <div *ngIf="editThemeForm.get('summary')?.errors?.['required']">Descrição é obrigatório.</div>
      </div>
    </div>
    <div class="flex gap-8">
      <button type="submit" saveButtonStyle [disabled]="editThemeForm.invalid">
        Salvar
      </button>
      <button type="button" (click)="closeDialog()" closeButtonStyle>
        Fechar
      </button>
    </div>
  </form>
</div>
