<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <form [formGroup]="editLectureForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-6 rounded-xl px-12 py-6 bg-white shadow-lg">
      <div class="flex flex-col gap-1">
        <label for="time">Horário</label>
        <input type="text" id="time" formControlName="time" placeholder="18:30" class="h-8 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="date">Data</label>
        <input type="date" id="date" formControlName="date" placeholder="24/12" class="h-8 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" />
      </div>
      <div class="flex flex-col gap-1">
        <label for="speaker">Palestrante</label>
        <select id="speaker" formControlName="speaker" class="h-10 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300">
          <option value="" disabled>Selecione um palestrante</option>
          <option *ngFor="let speaker of speakers" [value]="speaker.id">{{ speaker.name }}</option>
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="theme">Tema</label>
        <select id="theme" formControlName="theme" class="h-10 w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300">
          <option value="" disabled>Selecione um tema</option>
          <option *ngFor="let theme of themes" [value]="theme.id">{{ theme.title }}</option>
        </select>
      </div>
      <div class="flex gap-8">
        <button type="submit" class="w-40 rounded-md bg-gray-700 py-4 font-bold text-white transition duration-150 ease-in-out hover:border hover:border-gray-700 hover:bg-white hover:text-gray-700">Salvar</button>
        <button type="button" (click)="closeDialog()" class="w-40 rounded-md border border-gray-700 bg-white py-4 font-bold text-gray-700 transition duration-150 ease-in-out hover:border hover:border-gray-700 hover:bg-gray-700 hover:text-white">Fechar</button>
      </div>
    </form>
</div>
