<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <form [formGroup]="lectureForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-6 rounded-xl px-12 py-6 bg-white shadow-lg">
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': lectureForm.get('time')?.invalid && lectureForm.get('time')?.touched}">
      <label for="time">Horário</label>
      <input type="text" id="time" formControlName="time" placeholder="18:30" maxlength="5" class="h-8 w-60 rounded-md border p-2 placeholder:text-gray-300" [ngClass]="{'border-red-600': lectureForm.get('time')?.invalid && lectureForm.get('time')?.touched}" />
      <div *ngIf="lectureForm.get('time')?.invalid && lectureForm.get('time')?.touched" class="text-red-600 text-sm">
        <div *ngIf="lectureForm.get('time')?.errors?.['required']">Horário é obrigatório.</div>
        <div *ngIf="lectureForm.get('time')?.errors?.['pattern']">Horário inválido.(Use nesse formato 12:00)</div>
        <div *ngIf="lectureForm.get('time')?.errors?.['maxlength']">Horário deve ter no máximo 5 caracteres.</div>
      </div>
    </div>
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': lectureForm.get('date')?.invalid && lectureForm.get('date')?.touched}">
      <label for="date">Data</label>
      <input type="date" id="date" formControlName="date" class="h-8 w-60 rounded-md border p-2 placeholder:text-gray-300" [ngClass]="{'border-red-600': lectureForm.get('date')?.invalid && lectureForm.get('date')?.touched}" />
      <div *ngIf="lectureForm.get('date')?.invalid && lectureForm.get('date')?.touched" class="text-red-600 text-sm">
        <div *ngIf="lectureForm.get('date')?.errors?.['dateBeforeToday']">A data não pode ser anterior a hoje.</div>
        <div *ngIf="lectureForm.get('date')?.errors?.['required']">Data é obrigatória.</div>
      </div>
    </div>
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': lectureForm.get('speaker')?.invalid && lectureForm.get('speaker')?.touched}">
      <label for="speaker">Palestrante</label>
      <select id="speaker" formControlName="speaker" class="h-10 w-60 rounded-md border p-2 placeholder:text-gray-300" [ngClass]="{'border-red-600': lectureForm.get('speaker')?.invalid && lectureForm.get('speaker')?.touched}">
        <option value="" disabled>Selecione um palestrante</option>
        <option *ngFor="let speaker of speakers" [value]="speaker.id">{{ speaker.name }}</option>
      </select>
      <div *ngIf="lectureForm.get('speaker')?.invalid && lectureForm.get('speaker')?.touched" class="text-red-600 text-sm">
        <div *ngIf="lectureForm.get('speaker')?.errors?.['required']">Palestrante é obrigatório.</div>
      </div>
    </div>
    <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': lectureForm.get('theme')?.invalid && lectureForm.get('theme')?.touched}">
      <label for="theme">Tema</label>
      <select id="theme" formControlName="theme" class="h-10 w-60 rounded-md border p-2 placeholder:text-gray-300" [ngClass]="{'border-red-600': lectureForm.get('theme')?.invalid && lectureForm.get('theme')?.touched}">
        <option value="" disabled>Selecione um tema</option>
        <option *ngFor="let theme of themes" [value]="theme.id">{{ theme.title }}</option>
      </select>
      <div *ngIf="lectureForm.get('theme')?.invalid && lectureForm.get('theme')?.touched" class="text-red-600 text-sm">
        <div *ngIf="lectureForm.get('theme')?.errors?.['required']">Tema é obrigatório.</div>
      </div>
    </div>
    <div class="flex gap-8">
      <button type="submit" class="w-40 rounded-md bg-gray-700 py-4 font-bold text-white transition duration-150 ease-in-out hover:border hover:border-gray-700 hover:bg-white hover:text-gray-700" [disabled]="lectureForm.invalid">
        Salvar
      </button>
      <button type="button" (click)="closeDialog()" closeButtonStyle>
        Fechar
      </button>
    </div>
  </form>
</div>