<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg text-center">
      <p class="text-gray-700 text-md mb-4">
          Tem certeza que deseja excluir essa palestra?
      </p>
      <div class="flex gap-8 justify-center">
          <button type="button" (click)="removeLecture()" saveButtonStyle>
            Sim
          </button>
          <button type="button" (click)="closeDialog()" closeButtonStyle>
            Não
          </button>
      </div>
    </div>
  </div>
  