<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <form [formGroup]="themeForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-6 rounded-xl px-12 py-6 bg-white shadow-lg">
      <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': themeForm.get('title')?.invalid && themeForm.get('title')?.touched}">
        <label for="title">Título</label>
        <input 
          type="text" 
          id="title" 
          formControlName="title" 
          placeholder="Novas tecnologias" 
          formInputStyle
          />
        <div *ngIf="themeForm.get('title')?.invalid && themeForm.get('title')?.touched" class="text-red-600 text-sm">
          <div *ngIf="themeForm.get('title')?.errors?.['required']">Título é obrigatório.</div>
        </div>
      </div>
      <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': themeForm.get('subject')?.invalid && themeForm.get('subject')?.touched}">
        <label for="subject">Assunto</label>
        <input 
          type="text" 
          id="subject" 
          formControlName="subject" 
          placeholder="Conhecimentos sobre IA" 
          formInputStyle
          />
        <div *ngIf="themeForm.get('subject')?.invalid && themeForm.get('subject')?.touched" class="text-red-600 text-sm">
          <div *ngIf="themeForm.get('subject')?.errors?.['required']">Assunto é obrigatório.</div>
        </div>
      </div>
      <div class="flex flex-col gap-1" [ngClass]="{'text-red-600': themeForm.get('summary')?.invalid && themeForm.get('summary')?.touched}">
        <label for="summary">Descrição</label>
        <textarea 
          id="summary" 
          rows="4"
          formControlName="summary"
          class="w-60 rounded-md border border-gray-700 p-2 placeholder:text-gray-300" 
          placeholder="Uma conversa sobre os pontos positivos e negativos da IA" ></textarea>
        <div *ngIf="themeForm.get('summary')?.invalid && themeForm.get('summary')?.touched" class="text-red-600 text-sm">
          <div *ngIf="themeForm.get('summary')?.errors?.['required']">Descrição é obrigatório.</div>
        </div>
      </div>
      <div class="flex gap-8">
        <button type="submit" saveButtonStyle [disabled]="themeForm.invalid">
          Salvar
        </button>
        <button type="button" (click)="closeDialog()" closeButtonStyle>
          Fechar
        </button>
      </div>
    </form>
  </div>
  