<header class="flex items-center justify-center gap-5 border-b-2 bg-white py-4">
    <a href="">
      <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Palestra</p>
    </a>
      <p class="rounded-lg bg-gray-700 p-3 text-white">Palestrante</p>
    <a href="temas">
      <p class="rounded-lg bg-white p-3 text-black hover:bg-gray-700 hover:text-white">Temas</p>
    </a>
  </header>
  <p class="bg-gray-100 text-3xl font-bold text-gray-700 flex justify-center p-14">Palestrante</p>
  <section class="flex mt-0 min-h-screen items-start justify-center bg-gray-100">
    <div class="mx-4 mt-4 w-full md:mx-32 md:w-3/4 lg:w-1/2">
        <button class="my-3 rounded-md border bg-white p-2 text-sm text-gray-700 shadow-lg hover:bg-gray-700 hover:text-white"
        (click)="openDialog()">
          Adicionar novo palestrante
        </button>
      <div class="rounded-xl bg-white p-8 shadow-lg">
        <table class="w-full table-auto">
          <thead>
            <tr class="border-b">
              <th class="py-2 text-left text-xs text-gray-600">Nome</th>
              <th class="py-2 text-left text-xs text-gray-600">Email</th>
              <th class="py-2 text-left text-xs text-gray-600">Telefone</th>
              <th class="py-2 text-left text-xs text-gray-600">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let speaker of speakers" class="border-b">
              <td class="w-auto py-4 text-sm text-gray-700">{{ speaker.name }}</td>
              <td class="w-auto py-4 text-sm text-gray-700">{{ speaker.email }}</td>
              <td class="w-auto py-4 text-sm text-gray-700">{{ speaker.phone }}</td>
              <td class="w-auto py-4 text-sm text-gray-700">
                <div class="flex items-center">
                  <button class="flex items-center" (click)="openEditDialog(speaker.id)">
                    <img class="w-7 h-7" src="assets/edit-icon.png" alt="Icone de editar">
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  